################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HomeWork
/HomeWork/bin/Debug/netcoreapp3.1/runtimes
/HomeWork/bin/Debug/netcoreapp3.1
/HomeWork/obj
